<div class="flex-container card">
  <div class="image-container card-image waves-effect waves-block waves-light">
    <img class="" [src]="imageURL" alt="Item picture">
  </div>
  <div class="description card-content">
      <div class="fixed-action-btn horizontal">
          <a class="btn-floating red">
            <i class="large material-icons">menu</i>
          </a>
          <ul>
            <li><a class="btn-floating green"><i class="material-icons">add</i></a></li>
            <li>
              <a class="btn-floating blue darken-1 activator" (click)="showModal()"><i class="material-icons">zoom_in</i></a>
            </li>
          </ul>
        </div>
    <span class="card-title  grey-text text-darken-4">{{title}}</span>
    <p>{{body}}</p>
  </div>
</div>

<!-- Modal Structure -->

 

 
        <div id="modal-item" class="modal color-red">
          <div class="carousel carousel-slider color-red">
            <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/1"></a>
            <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/2"></a>
            <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/3"></a>
            <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/4"></a>
          </div>
        </div>

        


        