.flex-container{
    width: 200px;
    height: 270px;
    overflow: hidden;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
}
.image-container{
    height: 180px;
    overflow: hidden;
    img{
        width: 100%;
        min-height: 180px;
    }
}

.description{
    padding: 0 5px;
    h1{
        margin: 10px 0;
        font-size: 1.5em;
    }
    p{
        margin: 0;
        font-size: .9em;
    }
}