<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
    <a routerLink="/" class="brand-logo left">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Signup</a></li>
      <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Signup</a></li>
    </ul>
  </div>
</nav>