.nav-wrapper{
    background-color: teal;
    a{
        color: white;
    }
    .side-nav{
        a{
            color: black;
        }
    }
}

.brand-logo{
    padding: 0 0 0 50px;
    font-size: 1.5rem;
}

nav{
    height: 80px;
    line-height: 80px;
}