.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;

    span{
        padding: 10px;
        border-bottom: 1px solid transparent;
        flex-basis: 20%;
        text-align: center;
        &.active{
            font-weight: 600;
            color: teal;
        }
    }
    span:hover{
        cursor: pointer;
        border-bottom:1px solid black;
    }
}
.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
    .box{
        padding: 20px;
    }
    .empty-box{
        width: 240px;
    }
}
