<div class="container">
  
  
  <h1 class="main-title">Be <span>Helpfull</span></h1>
  
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="./assets/images/carousel/carousel-1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="./assets/images/carousel/carousel-2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="./assets/images/carousel/carousel-3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="./assets/images/carousel/carousel-4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="./assets/images/carousel/carousel-5.jpg"></a>
  </div>
      
  <div class="buttons-container">
    <a class="waves-effect waves-light btn">GET</a>
    <span> OR </span>
    <a class="waves-effect waves-light btn">OFFER</a>
  </div>
</div>