.signup-login-form{
    .row{
        display: flex;
        .input-field{
            margin-right: auto;
        }
    }

    .buttons{
        a:nth-child(2){
            margin-top: 15px;
        }
    }
}
