<div class="content">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="./assets/images/carousel/carousel-1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="./assets/images/carousel/carousel-2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="./assets/images/carousel/carousel-3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="./assets/images/carousel/carousel-4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="./assets/images/carousel/carousel-5.jpg"></a>
    </div>

    <div class="text-box">
      <div class="row">
          <div class="input-field">
            <input disabled value="{{item.title}}" id="disabled" type="text" class="validate">
            <label for="disabled" class="active">Name</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field">
            <input disabled value="+45 52 71 43 94" id="disabled" type="text" class="validate">
            <label for="disabled" class="active">Phone number</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field">
            
            <input disabled value="tudordascalu1@gmail.com" id="disabled" type="text" class="validate">
            <label for="disabled" class="active">Email</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field">
            <input disabled value="Str pacii nr 4" id="disabled" type="text" class="validate">
            <label for="disabled" class="active">Address</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s6" style="padding-left: 0">
          <input disabled value="Suceava" id="disabled" type="text" class="validate">
          <label for="disabled" class="active" style="left: 0">City</label>
        </div>
        <div class="input-field col s6" style="padding-right: 0">
          <input disabled value="727272" id="disabled" type="text" class="validate">
          <label for="disabled" class="active">Postal Code</label>
        </div>
      </div>
  </div>
</div>