form{
    padding: 20px 0;
    .row{
        display: flex;
        .input-field{
            margin-right: auto;
        }
    }

    .buttons{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        a{
            margin-left: auto;
            margin-right: auto;
        }
    }
}



