<a class="back" routerLink="/"><i class="material-icons">arrow_back</i></a>
<h1 class="main-title flow-text">Signup</h1>
<hr>
<div class="content">
  <form  materialize class="col s12 signup-login-form">
    <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="first_name" type="email" class="validate">
          <label for="first_name">Name</label>
        </div>
    
      <div class="input-field col s6">
        <input id="first_name" type="email" class="validate">
        <label for="first_name">Email</label>
      </div>
    </div>
 
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
        <input id="first_name" type="password" class="validate">
        <label for="first_name">Password</label>
      </div>
    </div>
 
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">location_city</i>
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Address</label>
      </div>
    
      <div class="input-field col s3">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">City</label>
      </div>
      <div class="input-field col s3">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Postal Code</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
        <input id="first_name" type="number" class="validate">
        <label for="first_name">Phone</label>
      </div>
    </div>
    <div class="buttons">
      <a class="waves-effect waves-light btn">Signup</a>
      <!-- <a class="waves-effect waves-light btn btn-secondary">forgot pass?</a> -->
    </div>
  </form>
</div>
<hr style="margin-bottom: 50px">